footer {
  background: -moz-linear-gradient(center top, #232323 0%, #414141 180px) !important;
  padding: 3em 0px;

  img {
    @media (max-width: 768px) {
      margin-top:2.3em;
    }
  }
  .copyright {
    padding-top:30px;
    a {
      color:#b1b1b1;
    }
  }
}