footer {
  background: -moz-linear-gradient(center top, #232323 0%, #414141 180px) !important;
  padding: 50px 0px;
  img {
    opacity: .5;
  }
  .copyright {
    padding-top:30px;
    a {
      color:#b1b1b1;
    }
  }
}