body, html {
  background-color: @gp_background_outer;
  font-size: .85em;
  font-family: Verdana,Geneva,sans-serif;
}

h1,h2,h3,h4,p {
  line-height: 1.8em;
}

a:focus {
  outline: medium dotted;
}

.sr-hint {
  position:absolute;
  left:-9999px;
  top:-9999px;
}

.container {
  color: @gp_font_color;
  &.bg {
    background-color: @gp_background_inner;
    margin-bottom: 50px;
    box-shadow: 0 0.15em 0.3em rgba(0, 0, 0, 0.15);
  }
  &.out {
    background-color: @gp_background_outer;
    padding: 0px;
    overflow: hidden;
  }
}

h1 {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: .8em;
}

h2 {
  color: @gp_brand_primary;
  font-size: 1.2em;
  font-weight: bold;
}

h3,h4 {
  font-size: 1.1em;
  font-weight: bold;
}

//Gallery
#cboxOverlay{
  background: none;
  background-color: #080808;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
}

figure {
  figcaption {
    font-size: .85em;
    padding-top:.5em;
  }
}

.left-col .navbar-default {
  ul.gp {
    font-size: 0.95em;
    padding-left: 0px;
    li {
      padding: 0px;
      margin-top: 12px;
      border-bottom: none !important;
      & > a {
        color: #111;
      }
      a{
        position: relative;
        display: block;
        line-height: 1.45em !important;
        padding: 0.75em 0.625em 0.75em 1.7em !important;
      }
    }
    li {
      font-weight: bold;
      list-style-type: none;
      a {
        color: #555;
        padding-left: 2.3em !important;
      }
    }
    li.active-unfolded{
      ul {
        list-style-type: none;
        padding-left: 0;
        li {
          font-weight: normal;
        }
      }
      li.active-unfolded {
        & > a {
          background-color: #f1f1f1;
        }
        ul a {
          padding-left: 3.3em !important;
        }
      }
    }
    & > li > a{
      padding-left: 20px !important;
    }
    li.subpages > a:before {
      .glyphicon_before();
      position: absolute;
      top: 1.7em;
      content: "\e250";
      margin-left: -15px;
      color: #B3B3B3;
    }
  }
}

ul.nav  {
  li a {
    padding:0px;
    line-height:3em;
  }
  li.active>a, li:hover>a {
    background-color: #f1f1f1 ;
    color: #000000;
  }
  li.active-unfolded:hover>a{
    background-color: transparent;
    color: inherit;
  }
  li.active-unfolded > a:before{
    .glyphicon_before();
    position: absolute;
    top: 1.7em;
    content: "\e252";
    margin-left: -15px;
    color: #B3B3B3;
  }
}

.panel-default {
  border-radius:0px;
  border: none;
  box-shadow: none;

  .box .csc-header {
    .gp_gradient(#a7a7a7, #666);
  }
  .csc-textpic {
    background-color: #f7f7f7;
  }

  .panel-heading {
    color:white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .panel-body {
    padding-bottom: 0px;
  }
  .list-group-item {
    background:none;
    border:none;
  }
}