.mid-col {
  .options {
    margin-bottom: 30px;
    @media (max-width: 991px) {
      text-align: center;
    }
    #to-top, #print {
      margin-right: 20px;
      i {
        color: @gp_font_color;
      }
    }
  }

  div.csc-textpic-center-outer {
    float: none;
    position: inherit;
    right:auto;
    .csc-textpic-center-inner {
      float: none;
      position: inherit;
      right:auto;
    }
  }
}