.row.top {
  @media (min-width:768px) {
    margin-top: 2em;
    li {
      border-right: 1px solid @gp_font_color;
    }
  }


  li {
    line-height: 1em;
    a {
      font-size: 0.9em;
      color: @gp_font_color;

    }
    &:last-child {
      border-right: none;
    }
  }
  .text-right {
    ul{
      display: inline;
      li:last-child {
        border:none;
      }
    }
    form {
      display:inline;
      input {
        .gp_gradient(#ebebeb, #ffffff);
        border: 1px solid #b6b6b6;
        color: #333;
        font-size: 1em;
        width: 9em;
        height:18px;

      }
    }
  }

  button {
    background: none;
    border: none;
  }
  ul.visible-xs li {
    float:right;
    &:first-child {
      float:left;
    }
    i {
      font-size: 2em;
      padding:10px;
    }
  }


}

header {
  text-align: center;
  .gp_header_gradient(#1e5799, #bad7f8, #5d93cc);
  .row {
    height: 15em;
    padding: 2.5em;
    background-image: url("../Images/logo-typo3-symbol-transparent.png");
    background-repeat: no-repeat;
    background-position: 95% 1.6em;
  }
}

ol.breadcrumb {
  margin-top: 2em;
  background: none;

  li:before {
    color: #cccccc;
    .glyphicon_before();
    content: "\e072";
    line-height: 1.5em;
    vertical-align: text-top;
  }
  li:first-child {
    &:before {
      content: "";
    }
  }
}


