/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, content-right, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #666; color: #fff; text-shadow: none; }
::selection { background: #666; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e;}
/*a:visited { color: #551a8b; }*/
a:hover { color: #06e; }
a:focus { outline: medium dotted; }


/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 0.063em dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 0.063em; border: 0; border-top: 0.063em solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 2.5em; }
dd { margin: 0 0 0 2.5em; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -0.7em; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Lars Zimmermann
   ========================================================================== */


body {
	background-color: #414141;
	/*background-color: #eee;*/
	font-family:Verdana, Geneva, sans-serif;
	font-size:1em;
	line-height:1.4em;
	color:#666;
	}

h1 {
	font-size:1.375em;
	margin:0;
	padding:0;
	margin-bottom:0.9em;
	line-height:1.2em;
	color:#444;
	}
	
h2 {
	font-size:0.875em;
	line-height:1.6em;
	color:#444;
	}
	
h3 {
	font-size:0.75em;
	color:#444;
	background:none;
	line-height:1.25em;
	}
	
	
h4 {
	font-size:0.75em;
	margin:0;
	padding:0;
	line-height:1.25em;
	color:#444;
	background:none;
	}	

	
p 	{
	font-size: 0.75em;
    line-height: 1.7em;
	margin:0;
    margin-bottom: 0.8em;
	}
	
a  {
	color:#4176AB;
	/*color:#4C8BC9;*/
	text-decoration:none;
	}
	
a:hover  {
	color:#1f5ea3;
	text-decoration:underline;
	}

article ul ul, article ol ol {
	margin:0.15em 0;
}	
	
article li {
	font-size:0.75em;
	line-height:1.725em;
	margin-bottom:0.5em;
}	

article li li {
	font-size:1em;
}	
	
.sr-hint {
	display:inline;
	position:absolute;
	left:-9999px;
	top:-9999px;
	height:0;
	width:0;
	background:white;
}


.sr-hint a:focus {
	display:block;
	position:absolute;
	left:10320px;
	top:10150px;
	width:20em;
	line-height:5em;
	text-align: center;
	border:0.5em double #000;
	padding:0.5em;
	background-color:#ffffff;
	z-index:3000;
	font-size:1.25em;
}

#container {
	background-color: #eee;
	width: 100%;
	min-width:60em;	
	}

.wrapper {
	margin: 0 auto;
	width: 60em;
	position:relative;
	}
	
#main header {
	margin:0;
	padding:0;
}


/* =======================
   Header
   ======================= */


header {
	position:relative;
	padding-top: 1.563em;
	}

header div.float-right {
	float: right;
}

header nav {
	float: left;
	}
	
header nav#nav-help {
	/* float: right; */
	}

header nav>ul {
	float: left;
	}

header nav ul {
	list-style-type: none;
	}

header nav ul li {
	display: inline;
	background: url(../img/nav-separator.gif) no-repeat left 0.15em;
	padding: 0 1em;
	font-size: 0.625em;
	}
	
header nav ul li.first {
	background: none;
	padding-left: 0;
	}
	
header nav ul li a {
	color: #333;
	}
	
.middle {
	font-size:0.75em;
	}
	
.big {
	font-size:0.875em;
	}

.lang-selector {
	display: none;
	}
	
.toggle-hover span {
	padding-right:10.3em;
	background:url(../img/arrow-down.gif) no-repeat right center;
	}	

.toggle-hover span a {
	background: url("../img/flags/flag-german.gif") no-repeat right top;
    padding-right: 20.7em;
	}
	
header #search {
	float: right;
	margin:0 0 0.5em 0.625em;
	}
	
header #search #inputText {
	border: 0.063em solid #b6b6b6;
	font-size: 0.625em;;
	color: #333;
	padding:0.15em 0.5em;
	font-family:Verdana, Geneva, sans-serif;
	width:9.375em;
		
	background: #ebebeb; /* Old browsers */
	background: -moz-linear-gradient(top, #ebebeb 0%, #ffffff 58%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(58%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ebebeb 0%,#ffffff 58%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ebebeb 0%,#ffffff 58%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ebebeb 0%,#ffffff 58%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ebebeb 0%,#ffffff 58%); /* W3C */
	}
		
header #search #inputButton {
	background: url("../img/magnifier.png") no-repeat center center;
    border: 0;
    padding: 0;
    text-indent: -9999px;
    margin:0 0 0 0.6em;
	width:1.063em;
	}

	
#title {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #bad7f8 0%, #5d93cc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#bad7f8), color-stop(100%,#5d93cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#bad7f8 0%,#5d93cc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#bad7f8 0%,#5d93cc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#bad7f8 0%,#5d93cc 100%); /* IE10+ */
	background: linear-gradient(top,  #1e5799 0%,#bad7f8 0%,#5d93cc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#5d93cc',GradientType=0 ); /* IE6-9 */

	min-height:10.75em;
	clear:both;
	}

#title .csc-textpic-image {
    margin-bottom: 0;
	}
	
#logo {
	position:absolute;
	background:url(../img/logo-typo3-symbol-transparent.png) no-repeat 38em 1.6em;
	display:block;
	width:58.5em;
	top: 3.313em;
	left:0;
	padding:1.875em 0 4.6em 1.5em;
	}


	

/* =======================
   Main
   ======================= */
	
	
#main {
	background:white;
	padding:0.95em 0;
	
    -moz-box-shadow: 0 0.15em 0.3em rgba(0,0,0,0.15); /*Mozilla-basierte Browser (z.B. Firefox)*/
    -webkit-box-shadow: 0 0.15em 0.3em rgba(0,0,0,0.15); /*WebKit-basierte Browser (z.B. Safari/Chrome)*/
    box-shadow: 0 0.15em 0.3em rgba(0,0,0,0.15); /*CSS3 Standard*/

	}
	
#shadow-bottom {
	height:3.125em;
	background:url(../img/shadow-bottom.png) no-repeat center top;
	}
	



/* =======================
   Breadcrumb
   ======================= */

#breadcrumb {
	padding-left:1.7em;
	margin-bottom:0.625em;
	}

#breadcrumb ul {
	list-style-type:none;
	margin:0;
	padding:0;
	}
	
#breadcrumb ul li {
	background: url("../img/nav-arrow.gif") no-repeat left 0.25em;
    display: inline;
    padding: 0 1em 0 1.25em;
	font-size:0.625em;
	}
	
#breadcrumb ul li.first {
	background: 0;
	padding:0;
    padding-right:1em;;
	}



/* =======================
   Content Columns
   ======================= */


#content-left {
	float:left;
	width:13.125em;
	padding-left:1.5em;
	}

#readspeaker-section {
	float: left;
	width: 28.125em;
	margin-left:1.25em;
	}

#content-column {
	float: left;
	width: 28.125em;
	margin-left:1.25em;
	}

#content-right {
	float: right;
	width: 13.125em;
	margin-right:1.5em;
	}
	
   	
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 0.063em solid #ddd;
	border-top: 0;
    margin-top: 0;
    padding-top: 0;
	}	
	
	
/* =======================
   Navigation
   ======================= */	
	

#content-left nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-top:0.063em solid #ddd;
	margin-bottom:1.875em;
	}
	
#content-left nav ul ul{
	border:0;
	margin:0;
	}

#content-left nav ul li {
	font-size: 0.6875em;
	font-weight: bold;
	}
	
#content-left nav ul li a {
    color: #555;
    display: block;
    padding: 0.75em 0.625em 0.75em 1.7em;
	line-height: 1.45em;
	border-bottom:0.063em solid #ddd;
	}
	
#content-left nav ul li a:hover {
	background-color:#f1f1f1;
	color: #111;	
	}

#content-left nav ul li ul li {
	font-size: 1em;
	font-weight: normal;
	margin-left: 1.125em;
	}
	
	
#content-left nav ul li.subpages {
	background:url("../img/nav-arrow.gif") no-repeat 0.4em 1.3em;
	}
	
#content-left nav ul li.subpages a:hover {
	background:#f1f1f1 url("../img/nav-arrow.gif") no-repeat 0.4em 1.3em;
	}

#content-left nav ul li.subpages li a:hover {
	background:#f1f1f1;
	}	

#content-left nav ul li.subpages a.selected {
	background:#f1f1f1 url("../img/nav-arrow-down.gif") no-repeat 0.4em 1.3em;
	color: #111;	
	}
	
#content-left nav ul li a.selected {
	background-color: #f1f1f1;
	color: #111;	
	}
	
#content-left nav ul li a.active {
	background: url("../img/nav-arrow-down.gif") no-repeat 0.4em 1.3em;
}
	



/* =======================
   Boxen
   ======================= */
	
.box {
	background:#F7F7F7;
	}
	
.box ul {
	margin: 0;
	padding:0;
	list-style-type: none;
	padding:0 0.25em 0.625em 0.25em;	
	}

.box ul li {
	font-size: 0.6875em;
	margin-bottom:0.063em;
    padding: 0.4em 0.9em 0.4em 2.55em;	
	line-height: 1.45em;	
	background: url("../img/nav-arrow-double.gif") no-repeat 0.95em 0.85em;
	}
	
.box ul li.pdf {
	background: url("../img/file-pdf.png") no-repeat 0.5em 0.3em;
	}
		
.box ul li a {
    display: block;
	}

.box p {
	font-size: 0.6875em;
    padding: 0 0.9em;	
	line-height: 1.45em;
	}

.box h4 {

	background: #a7a7a7; /* Old browsers */
	background: -moz-linear-gradient(top, #a7a7a7 0%, #666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7a7a7), color-stop(100%,#666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a7a7a7 0%,#666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a7a7a7 0%,#666 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #a7a7a7 0%,#666 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7a7', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #a7a7a7 0%,#666 100%); /* W3C */
	
	padding:0.5em 0.95em;	
	color:white;
	/*text-transform:uppercase;*/
	font-weight:normal;
	margin-bottom:0.625em;
	line-height: 1.55em;
	}
	
.box h4 a{
	color:white;
	}	

.box .csc-textpic-intext-right {
	padding-right:0.625em;
}
	
.news span {
	font-size:0.625em;
	padding-left:30.15em;	
	}
	
.news ul li a {
	padding-top:0;
	}

.box.info {
	background:#FDEEDB url("../img/bg_box_info.png") no-repeat 1.625em 1.063em;
    padding: 0.95em 0.95em 0.95em 3.875em!important;
}

.box.citation {
	background:#F7F7F7 url('../img/bg_box_citation.png') 1em 1.063em no-repeat;
	padding: 0.95em 0.95em 0.95em 5.75em!important;
}

#content-column .box {
	padding:0.625em 0.95em;
}

#content-column .box p {
	padding:0 0 0.625em 0;
}

#content-column .box h3 {
	margin:0 0 0.625em 0;
}
	
	

#content-left .box {
	margin-top: 1.563em;
	padding-top: 1.563em;
	border-top: 0.063em solid #eee;
	background:none;
	}

.link-list ul li {
	background: none;
	}	
	
.link-list ul li a {
	background: url("../img/nav-arrow.gif") no-repeat 0 0.5em;
    padding-left: 0.95em;
	}	

	
	
/* =======================
   Content-right
   ======================= */
   
		
#content-right article .csc-textpic-caption {
	font-size: 0.625em;
    line-height: 0.875em;
    margin: 0;
    padding: 0.5em 0;
	}
	
#content-right article .csc-textpic-text p, #content-right article .csc-textpic-text a {
	font-size: 0.6875em;
    line-height: 1.45em;
	}

#start #content-right article .csc-textpic-text p, #start #content-right article .csc-textpic-text a {
	font-size: 0.75em;
	}

	
DIV.csc-textpic .csc-textpic-imagewrap .csc-textpic-image {
	margin:0;
	}


/* =======================
   Content
   ======================= */

#content-column {
	
	}

.content-column-bottom {
	padding:0 0 1.875em 0;
	}

.content-column-bottom a {
	font-size:0.6875em;
	padding:0.063em 0 0.15em 1.8em;
	margin-right:2.8em;
	}
	
a.to-top {
	background:url(../img/icon-arrow-up.png) no-repeat;
	}
	
a.print {
	background:url(../img/icon-printer.png) no-repeat;
	}




/* =======================
   Footer
   ======================= */

footer {
	background: #232323; /* Old browsers */
	background: -moz-linear-gradient(top, #232323 0%, #414141 180px); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(180px,#414141)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #232323 0%,#414141 180px); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #232323 0%,#414141 180px); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #232323 0%,#414141 180px); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#414141',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #232323 0%,#414141 180px); /* W3C */
	
	padding:3.125em 0;
	min-width:60em;
	}
	
.footer-wrapper {
	padding-left:1.7em;
	}

	
	
#nav-footer, #nav-footer>ul {
	float:left;
	}

#nav-footer ul {
	list-style-type: none;
	margin-right:1.875em;
	}
	
#nav-footer ul li {
	background: url(../img/nav-footer-arrow.gif) no-repeat left 0.75em;
	padding-left: 0.95em;
	line-height:1.5em;
	}	
	
#nav-footer ul li a {
	color: #B1B1B1;
	font-weight: bold;
	font-size:0.6875em;
	}

#nav-footer ul li ul li {
	background: none;
	padding-left: 0.95em;
	}				

#nav-footer ul li ul li a {
	font-weight: normal;
	}

#footer-logo {
	float: right;
    height: 12.5em;
    padding: 0.5em 3.125em;
	border-left:0.063em solid #4e4e4e;
	}

footer #copyright {
	text-align:center;
	padding:1.25em 0;
	}
	
footer #copyright a {
	color:#B1B1B1;
	font-size:0.9em;
	}
	
footer a:hover {
	color:white;
	}



/* =======================
   Startseite
   ======================= */

#start #title {
	min-height:15.625em;
}

#start #logo {
	padding-bottom:130.5em;
}
	
#start #content-column, #start #content-right {
	float:left;
	width:330.15em;
	margin:0 0 0 1.25em;
	}

#start #content-column h1, #start #content-right h1 {
	font-size:0.875em;
	line-height:1.25em;
	}
	
#start #content-column p, #start #content-right p {
	line-height:1.125em;
	}
	
#start #content-column .link-list ul , #start #content-right .link-list ul {
	padding-top:0;
	padding-bottom:0;
	}
	
#start #content-column .link-list ul, #start #content-right .link-list ul {
	background:none;
	}
	
#start #content-right article .csc-textpic-text p, #start #content-right article .csc-textpic-text a {
	font-size: 0.75em;
	}	
	
#start .box {
	margin-bottom:0;
}











/* =======================
   Page Contents
   ======================= */

   
/* InArticleNavigation */   
   
article ul.csc-menu {
	margin: 0;
	padding: 0.5em 0.5em 0 0;
	list-style-type: none;
	
}

article ul.csc-menu li {
	margin-left: 0.5em;
    padding-left: 1.75em;
	margin-bottom:0.5em;
	font-size: 1em;
	line-height: 1.25em;
	background: url(../img/icon-arrow-down.png) 0 0.3em no-repeat;
}

article ul.csc-menu li a {
	font-size: 0.75em;
	font-weight:bold;
}


/* Back-to-top-link */ 

.csc-linkToTop a {
	font-size: 0.9em;
    padding: 0.063em 0 0.15em 1.8em;
	background:url(../img/icon-arrow-up.png) no-repeat	
}



/* Table RTE-Style */ 


.contenttable {
	width:100%;
	border-collapse: separate;
  	border-spacing: 0;
    border-left:0.063em solid #ddd;
	margin:0.75em 0 1.25em 0;
}

.contenttable caption {
    color: #fff;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.53846em;
    padding: 0.5em 0.625em;
    text-align: left;
	
	background: #a7a7a7; /* Old browsers */
	background: -moz-linear-gradient(top, #a7a7a7 0%, #666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7a7a7), color-stop(100%,#666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a7a7a7 0%,#666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a7a7a7 0%,#666 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #a7a7a7 0%,#666 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7a7', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #a7a7a7 0%,#666 100%); /* W3C */
}

.contenttable th{
	font-size: 0.75em;
	font-weight:bold;
	text-align:left;
	vertical-align: top;
	line-height: 1.4em;
	padding:0.5em 0.625em;
	
	border-right:0.063em solid #ddd;
	border-bottom:0.063em solid #ddd;	
	background:#f1f1f1;
	
	}

.contenttable td {
	line-height: 1.4em;
	padding:0.5em 0.625em;
	font-size: 0.75em;	
	border-right:0.063em solid #ddd;
	border-bottom:0.063em solid #ddd;	
}

.contenttable .tr-odd {
	background:#fff;
}

.contenttable .tr-even {
	background:#f9f9f9;
}




/* Bild mit Text */ 

.csc-textpic-caption {
	font-size: 0.625em;
    line-height: 1.45em;
    padding: 1em 0 2em;
}


/* Lightbox */ 
#cboxTitle,
#cboxCurrent {
	font-size: 0.625em;
    line-height: 1.45em;
}

/* Sitemap */

.csc-sitemap {
	list-style-type: none;
	background-color: #f2f2f2;
}
.csc-sitemap li {
	margin-left:2.0769em;
	padding: 0;
	font-weight: bold;
}
.csc-sitemap li a {
	display: block;
	/*padding-top: .53846em;
	padding-bottom: .2308em;
	margin-bottom: .3846em;*/
}

.csc-sitemap ul {
	margin-left: -2.0769em;
	padding-left:2.0769em;
	background-color: #fff;
}
.csc-sitemap li li a {
	margin-bottom: 0em;
}

.csc-sitemap li li li a {
	font-weight: normal;
}



/* tt_news */
	
.news-latest-container {
	margin: 0;
	padding: 0.063em 1.063em;
	background:#F7F7F7;
}	

.news-latest-item   {
	margin:1.25em 0;
	list-style: none;
}	

.news-latest-item  h4 {
	font-size:0.75em;
	line-height:1.6em;
}

.news-latest-item  p {
	font-size:0.6875em;
	line-height:1.6em;
	margin:0;
}

.news-latest-item>a {
	font-size:0.6875em;
	line-height:1.125em;
}

.news-list-container {
	margin: 0;
	padding: 0;
}
	
.news-list-item {
	border-bottom: 0.063em solid #ddd;
    margin: 1.25em 0;
    padding: 0;
    padding-bottom: 1.25em;
	list-style: none;
}	

.news-list-item img{
	float:left;
	padding:0 1.25em 0.625em 0;
}

li.news-list-item p{
	font-size:1em;
}

li.news-list-item h2 {
	font-size:1.167em;
}	

li .news-list-date, li .news-list-category, li .news-list-subheader>a, li .news-single-timedata, li .news-single-wrap  {
	font-size:0.911em;
}

.news-list-date, .news-list-category, .news-list-subheader>a, .news-single-timedata, .news-single-wrap  {
	font-size:0.6785em;
	margin-bottom:1em;
}

.news-single-imgcaption {
	margin-top: 0.625em;
	font-size:0.625em;
}

.news-single-img {
	float: right;
	margin: 0 0 0.625em 1.25em;
}

.news-single-additional-info {
	font-size:0.6875em;
}

.news-single-additional-info dd {
	margin:0;
}

.news-list-browse {
	font-size:0.75em;
}

.activeLinkWrap {
	padding:0 0.5em;
}



/* Kontaktformular */

div.csc-mailform ul {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

div.csc-mailform ul ul {
	margin: 0.15em 0;
	padding: 0 0 0 2.5em;
}

div.csc-mailform li {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}



div.csc-mailform fieldset {
	margin: 0.625em 0!important;
	border:0.063em solid #ddd;
	background: #FaFaFa;
}

div.csc-mailform fieldset legend {
	font-weight:bold;
	padding: 0.5em;
}	

div.csc-mailform li label {
	width:11em!important;
	padding:0.5em 0;
	color:#666;
	float:left;
}

div.csc-mailform li label em {
	display:inline;
	padding-left:0.5em;
}

div.csc-mailform fieldset li {
	padding: 0.5em;
	line-height: 1.25em;
	margin:0!important;
}




.csc-form-element-textline input, .csc-form-element-textarea textarea, div.csc-mailform select   {
	width:17em;
	font-weight:normal;
	color:#333;
	padding:0.5em 0.625em;
	border: 0.063em solid #ccc;
	font-family:Verdana, Arial, sans-serif;
	
	-moz-box-shadow: inset 0 0 0.15em 0.15em #eee ;
	-webkit-box-shadow: inset 0 0 0.15em 0.15em #eee;
	box-shadow: inset 0 0 0.15em 0.15em #f1f1f1;
	
}

div.csc-mailform select   {
	width:21.875em;
}

div.csc-mailform .invalid {
	border-color:red;
	background:#FFDDDD;
	
}

.csc-form-element-submit input {
	margin-left:12em;
	font-family:Verdana, Arial, sans-serif;	
	font-size:1em;
}

.csc-form-element-textline label strong, .csc-form-element-textline label strong {
	text-transform:none;
    padding-top: 0.625em;
}

.csc-form-2 {
	padding: 0.5em 0.875em;
}

.csc-form-confirmation-false {
	float:left;
}

div.csc-mailform fieldset ol {
    padding: 1em!important;
}
	
	
	
/* Link-Styles */	

/*a.external-link, a.external-link-new-window {
	padding-left:0.95em;
	background:url('../img/link_external.gif') 0 0.25em no-repeat;
}

a.download {
	padding-left:0.95em;
	background:url('../img/link_download.gif') 0 0.25em no-repeat;
}

a.mail {
	padding-left:0.95em;
	background:url('../img/link_mail.gif') 0 0.25em no-repeat;
}	*/
	
.link-list-only ul {
	list-style-type:none;
	padding-left:1.875em;
}	
	
/* Glossar */

article dl.tx-glossary-list {
	margin: 0;
}

article dl.tx-glossary-list dt {
	border-top: 0.063em solid #DDD;
	font-size: 1.125em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

article dl.tx-glossary-list dd.tx-glossary-description {
	margin: 0;
    padding-bottom: 0.7em;
}

article dl.tx-glossary-list dd.tx-glossary-abstract,
article dl.tx-glossary-list dd.tx-glossary-typelabel {
    line-height: 1.4em;
	margin: 0;
	margin-left: 0.625em;
	border: 0;
	padding: 0;
}

article dl.tx-glossary-list dd.tx-glossary-typelabel {
	font-size: 0.875em;
}

article dl.tx-glossary-list dd.tx-glossary-abstract {
	background: #F7F7F7;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0.625em 0;
    padding: 0.65em;
}



	
/* FE-Login */


.tx-felogin-pi1>div {
	font-size:0.75em;
	line-height: 1.4em;
}

.tx-felogin-pi1 #tx_felogin_loginform {
	margin:0.625em 0;
	padding:0.95em;
	background:#F7F7F7;
}

.tx-felogin-pi1 label {
	font-weight:bold;
	float:left;
	width:11.25em;
	padding-top: 0.15em;
}

.tx-felogin-pi1 input {
	padding:0.3em 0.5em;
}

.tx-felogin-pi1 .csc-form-submit {
	padding:0.625em 0 0 8.4em;
}

.tx-felogin-pi1 .csc-form-user, .tx-felogin-pi1 .csc-form-password {
	margin-bottom:0.3em;
	font-size:0.75em;
}

.tx-felogin-pi1 .csc-form-user input, .tx-felogin-pi1 .csc-form-password input {
	border:0.063em solid #ccc;
	font-family:Verdana;
}

#csc-form-submit {
	font-family:Verdana;
	font-size: 0.75em;
}

.csc-form-logout {
	padding:0.9em;
}

.felogin-message {
	padding:1.2em 1.2em 0 1.2em;
}

.csc-form-logout .csc-form-user label {
	padding:0;
}

.csc-form-logout .csc-form-submit {
	padding:0.625em 0 0 0;
}



/* Indexed Search */


.browsebox {
	list-style-type:none;
	margin:1.25em 0;
	padding: 0;
}

.browsebox li {
 	margin-right: 0.7em;
 	display:inline;
}

.res-tmpl-css {
	margin:0.5em 0;
}

.tx-indexedsearch-info  {
	font-size:0.75em;
	margin:0;
}

.tx-indexedsearch-info  dt {
	display:inline;
}

.tx-indexedsearch-info  dd  {
	display:inline;
	margin:0;
}

.tx-indexedsearch-title  {
	font-size:1em;
}

.tx-indexedsearch-icon img {
	vertical-align:sub;
}

.tx-indexedsearch-whatis {
	font-size:0.75em;
}

.tx-indexedsearch-searchbox legend {
	font-size:1.375em;
	font-weight:bold;
	color:#444444;
	margin-bottom:1.25em;
}

.tx-indexedsearch-form label {
	font-size:0.875em;
}

.tx-indexedsearch-searchbox-sword {
	background: -moz-linear-gradient(center top , #EBEBEB 0%, #FFFFFF 58%) repeat scroll 0 0 transparent;
    border: 0.063em solid #B6B6B6;
    color: #333;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 0.875em;
    padding: 0.15em 0.5em;
    }
 
.tx-indexedsearch-search-submit {
	margin: 0.5em 0 0.625em 6.25em;
} 
 
.tx-indexedsearch-search-submit input {
	font-family:Verdana;
	font-size:0.75em;
}
    
    
/* Download-Bereich */

.csc-uploads-element-png,
.csc-uploads-element-jpg,
.csc-uploads-element-bmp,
.csc-uploads-element-tif,
.csc-uploads-element-tga,
.csc-uploads-element-gif,
.csc-uploads-element-ai,
.csc-uploads-element-eps,
.csc-uploads-element-doc,
.csc-uploads-element-xls,
.csc-uploads-element-pdf,
.csc-uploads-element-ppt {
	padding:0 0 0 2em;
	background-position: 0 0.15em;
	background-repeat:no-repeat;
}

.csc-uploads-element-png,
.csc-uploads-element-jpg,
.csc-uploads-element-bmp,
.csc-uploads-element-tif,
.csc-uploads-element-tga,
.csc-uploads-element-gif {
	background-image:url('../img/icons/image.png')!important;
}

.csc-uploads-element-ai,
.csc-uploads-element-eps {
	background-image:url('../img/icons/vector.png')!important;
}

.csc-uploads-element-doc {
	background-image:url('../img/icons/word.png')!important;
}

.csc-uploads-element-xls {
	background-image:url('../img/icons/excel.png')!important;
}
    
.csc-uploads-element-pdf {
	background-image:url('../img/icons/acrobat.png')!important;
}    
	
.csc-uploads-element-ppt {
	background-image:url('../img/icons/powerpoint.png')!important;
}


.box ul li.csc-uploads-element-png,
.box ul li.csc-uploads-element-jpg,
.box ul li.csc-uploads-element-bmp,
.box ul li.csc-uploads-element-tif,
.box ul li.csc-uploads-element-tga,
.box ul li.csc-uploads-element-gif,
.box ul li.csc-uploads-element-ai,
.box ul li.csc-uploads-element-eps,
.box ul li.csc-uploads-element-doc,
.box ul li.csc-uploads-element-xls,
.box ul li.csc-uploads-element-pdf,
.box ul li.csc-uploads-element-ppt {
	margin:0.7em;
	padding:0 0 0 2em;
	background-position: 0 0.15em;
	background-repeat:no-repeat;
}

/* ReadSpeaker */

.tx-readspeaker-widget {
	font-size: 0.75em;
	line-height: 1.7em;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border: none;
	border-bottom: 0.084em solid #ddd;
}

.tx-readspeaker-reader-wrap {
	margin-top: 0.5em;
}

/* Simple language */

#leichte-sprache {
	background:url('../img/icons/speech.png') 0 1em no-repeat;
	padding:1.5em 0 1.5em 3.6em;
	display:block;
}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 0.063em; margin: -0.063em; overflow: hidden; padding: 0; position: absolute; width: 0.063em; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 760.5em) {
  /* Style adjustments for viewports 760.5em and over go here */

}
