
<div class="container out">
    <div class="row top no-print">
        <p class="sr-hint no-print">
            <a href="home.html#nav-main">Zur Navigation</a> - <a href="home.html#content">Zum Inhalt</a>
        </p>
        <div class="col-sm-5">
        	<f:format.raw>{navTop}</f:format.raw>
            <ul class="list-inline visible-xs">
                <li><a href="/home.html" title="Home"><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="/kontrast/home.html" title="Kontrastansicht"><i class="glyphicon glyphicon-adjust"></i></a></li>
                <li><a href="#" title="Schriftgröße"><i class="glyphicon glyphicon-text-size"></i></a></li>
            </ul>
        </div>
        <div class="col-sm-7 text-right">
        	<f:format.raw>{navHelp}</f:format.raw>
            <f:format.raw>{search}</f:format.raw>
        </div>
    </div>
    <header>
        <div class="row no-print">
            <f:format.raw>{logo}</f:format.raw>
        </div>
    </header>
</div>

<div class="container bg">
		<f:format.raw>{breadcrumb}</f:format.raw>
        <div class="row">
            <div class="col-md-3 left-col no-print">

            <nav class="navbar navbar-default" id="nav-main">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header visible-xs visible-sm">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gp-nav" title="Hauptnavigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="gp-nav">
                        <f:format.raw>{navMain}</f:format.raw>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <hr class="invisible" />
                <f:format.raw>{contentLeftOutput}</f:format.raw>
            </div>





            <div class="col-md-6 mid-col" id="content">
                <f:format.raw>{contentColumn}</f:format.raw>
            </div><!--End Middle Content-->

            <div class="col-md-3 right-col">
                <f:format.raw>{contentRight}</f:format.raw>
            </div>
        </div>
</div>

<footer class="no-print">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <f:format.raw>{navFooter}</f:format.raw>
            </div>
            <div class="col-sm-4">
                <f:format.raw>{footerLogo}</f:format.raw>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center copyright">
                <f:format.raw>{copyright}</f:format.raw>
            </div>
        </div>
    </div>
</footer>